.maze-layer-wrapper {
  display: block;
  margin: 0 auto;
  position: relative;
}

.game-wrapper {
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  position: relative;
}

.game-action-bar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1rem;
  margin: 0;
  background-color: rgb(80, 101, 102);
  z-index: 10;
  margin-bottom: 1rem;
}

.game-score {
  text-transform: uppercase;
  color: var(--text-light);
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
