.designed-maze-button {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  width: var(--tile-dim);
  height: var(--tile-dim);
}

.designed-maze-button .point-wrapper,
.designed-maze-button .power-wrapper,
.designed-maze-button .ghost-wrapper {
  position: relative;
}
