.modal-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: var(--padding-main);
  background-color: rgba(0, 0, 0, 0.25);
  display: none;
  visibility: hidden;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.opened {
  display: flex;
  visibility: visible;
  pointer-events: initial;
}

.modal-card {
  display: block;
  width: 95%;
  max-width: 95%;
  height: auto;
  min-height: var(--modal-min-h);
  max-height: 95%;
  background-color: var(--modal-background);
  color: var(--modal-text);
  border-radius: var(--padding-main);
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .modal-card {
    max-width: var(--modal-max-dim);
    max-height: var(--modal-max-dim);
  }
}

.modal-card-header {
  width: 100%;
  height: auto;
  min-height: var(--header-footer-height);
  padding: var(--padding-main);
}

.modal-card-header h4 {
  margin: 0;
  padding: 0;
  font-size: 1.786rem;
  line-height: 1.4875;
}

.modal-card-body {
  padding: var(--padding-main);
  display: block;
  width: 100%;
  height: calc(100% - (var(--header-footer-height) * 2));
  min-height: calc(var(--modal-min-h) - (var(--header-footer-height) * 2));
}

.modal-card-body p {
  text-align: center;
  max-width: 75%;
  display: block;
  margin: 0 auto;
  font-size: 1.325rem;
  line-height: 1.4875;
}

.modal-card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: var(--header-footer-height);
  padding: var(--padding-main);
}

.modal-btn {
  font-size: 1.325rem;
  line-height: 1.4875;
  margin: 0;
  border-radius: calc(var(--padding-main) / 2);
  padding: calc(var(--padding-main) / 2) calc(var(--padding-main) * 2);
  border-width: 1px;
  border-style: solid;
  border-color: var(--modal-btn-border);
  background-color: var(--modal-btn-bg);
  color: var(--modal-btn-text);
  transition: all 450ms ease-in-out;
  cursor: pointer;
}

.modal-btn:hover {
  border-color: var(--modal-btn-border-hover);
  background-color: var(--modal-btn-bg-hover);
  color: var(--modal-btn-text-hover);
}

.modal-btn + .modal-btn {
  margin-right: var(--padding-main);
}

.force-hidden {
  display: none !important;
  visibility: hidden;
  pointer-events: none;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
}
