.designer-view-wrapper {
  display: block;
  width: 100%;
  height: auto;
  padding: 1rem;
  margin: 0;
}

.designer-view-action-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: var(--nav-obj-margin);
}

.action-bar-left,
.action-bar-right {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.action-bar-left {
  justify-content: flex-start;
  flex-grow: 1;
  padding-right: var(--nav-obj-margin);
}

.action-bar-right {
  justify-content: flex-end;
}

.action-bar-left input:not(:last-child),
.action-bar-right button:not(:last-child) {
  margin-right: var(--nav-sub-obj-margin);
}

.legend-cell-inside {
  visibility: hidden;
  display: none;
}

.legend-cell-inside.visible {
  visibility: visible;
  display: table-cell;
}

.legend-cell-outside {
  visibility: hidden;
}

.legend-cell-outside.visible {
  visibility: visible;
}

.legend-row-link {
  visibility: hidden;
  display: none;
}

.legend-row-link.visible {
  visibility: visible;
  display: table-row;
}

.design-maze tr {
  height: var(--tile-dim) !important;
  overflow: hidden;
}

.design-maze td {
  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0px;
  width: var(--tile-dim);
  height: var(--tile-dim);
  vertical-align: bottom;
}

.legend-cell {
  display: flex;
  width: var(--tile-dim);
  height: var(--tile-dim);
  padding: 2px;
  color: var(--header-bg);
}

.legend-cell p {
  font-size: 0.85rem;
  line-height: 1.25;
  font-weight: bold;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
}

.empty {
  background-color: transparent;
}

.horizontal {
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 2px;
}

.horizontal p {
  border-bottom: 2px solid var(--header-bg);
  justify-content: center;
  align-items: flex-end;
}

.vertical {
  justify-content: flex-end;
  align-items: center;
  margin-right: 2px;
}

.vertical p {
  border-right: 2px solid var(--header-bg);
  padding-top: 1px;
  padding-right: 4px;
  justify-content: flex-end;
  align-items: center;
}

.action-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--tile-dim);
  height: var(--tile-dim);
}
