body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

/* TABLE */

table,
table tr,
tr td,
table tbody,
table thead,
table tfoot,
table tr th,
table tfoot tr tf {
  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  background-image: none;
  vertical-align: baseline;
}

table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  vertical-align: bottom;
}

/* BUTTONS */

.btn,
button {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  transition: all 300ms ease-in-out;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin: 0;
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

.btn-md {
  padding: var(--btn-md-p-ver) var(--btn-md-p-hor);
}

.btn-danger {
  background-color: var(--btn-danger-bg);
  border-color: var(--btn-danger-border);
  color: var(--btn-danger-text);
}

.btn-danger:hover {
  background-color: var(--btn-danger-hover-bg);
  border-color: var(--btn-danger-hover-border);
  color: var(--btn-danger-hover-text);
}

.btn-success {
  background-color: var(--btn-success-bg);
  border-color: var(--btn-success-border);
  color: var(--btn-success-text);
}

.btn-success:hover {
  background-color: var(--btn-success-hover-bg);
  border-color: var(--btn-success-hover-border);
  color: var(--btn-success-hover-text);
}

/* INPUTS */

input,
.form-input {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin: 0;
  border-color: var(--act-btn-add-bg);
  color: var(--act-btn-add-text);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

.input-md {
  padding: var(--btn-md-p-ver) var(--btn-md-p-ver);
}

.left-adj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* LABELS FOR INPUTS */

.input-label {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin: 0;
  border-color: var(--act-btn-add-bg);
  color: var(--text-light);
  background-color: var(--act-btn-add-bg);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

.right-adj {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
