html {
  --background-color: #cbd9db;
  --pure-white: #ffffff;
  --text-light: #f7f7f7;
  --base-black: #0d0d0d;
  --font-size: 16px;

  /* PAGE SETTINGS */

  --padding-main: 1rem;

  /* NAVIGATION SETTINGS */

  --nav-min-w: 200px;
  --nav-max-w: 250px;
  --nav-bg: #1f2c2d;
  --nav-text: var(--text-light);
  --nav-obj-margin: 1.5rem;
  --nav-sub-obj-margin: 0.5rem;

  /* MODAL SETTINGS */
  --modal-background: var(--base-black);
  --modal-text: var(--text-light);
  --modal-min-h: 300px;
  --modal-max-dim: 600px;
  --header-footer-height: 2.5rem;
  --modal-btn-border: #ffc23d;
  --modal-btn-bg: var(--base-black);
  --modal-btn-text: var(--text-light);
  --modal-btn-border-hover: #ffc23d;
  --modal-btn-bg-hover: #ffe300;
  --modal-btn-text-hover: var(--base-black);

  /* SVG SETTINGS */
  --tile-dim: 1.75rem;
  --tile-ghost-stroke-dim: 7.5rem;
  --tile-wall-stroke-dim: 5rem;
  --tile-portal-stroke-dim: 3rem;
  --tile-point-dim: var(--tile-dim) / 3;
  --tile-wall-stroke-color: #0d0d0d55;
  --tile-wall-stroke-color-part: var(--base-black);
  --tile-ghost-home-stroke-color-part: #007aff;
  --tile-portal-stroke-color-part: #873e23;
  --tile-portal-fill-color-part: #eab676;

  /* POINTS */
  --point-bg-color: #ed1848;
  --point-shadow-color: #900c3f;

  /* PACMAN */
  --pacman-dimension: var(--tile-dim);
  --pacman-color: #ffe300;
  --pacman-color-grad: #ffc23d;
  --pacman-color-eye: var(--background-color);
  --pacman-mouth-rotation: 45deg;
  --pacman-mouth-rotation-neg: -45deg;
  --pacman-mouth-anim-speed: 750ms;

  /* GHOST */
  --ghost-dimension: var(--tile-dim) * 0.85;
  --ghost-hover: var(--ghost-dimension) / 20;
  --ghost-hover-neg: var(--ghost-dimension) / -20;
  --ghost-eye-color-white: var(--background-color);
  --ghost-eye-color-white-dead: var(--pure-white);
  --ghost-eye-color: #0d0d0d;
  --ghost-inky: #00ffff;
  --ghost-pinky: #ffb8ff;
  --ghost-clyde: #ffb852;
  --ghost-blinky: #ff0000;
  --ghost-scared: #1919a6;
  --ghost-hover-anim-speed: 2500ms;

  /* LOADING */

  --loading-w: 31.25rem;
  --loading-w-inner-plus: 12.5rem;
  --loading-h: 6.25rem;
  --loading-bg: rgba(0, 0, 0, 0.85);
  --pacman-loading-dim: 3rem;
  --ghost-loading-dim: 3rem;

  /* DESIGNER SETTINGS */

  --header-bg: #344a4b;
  --header-bg-rgb: 52, 74, 75;
  --legend-btn-bg: var(--text-light);

  /* ACTIVE ELEMENTS */
  --font-size-md: 0.85rem;
  --line-height-md: 1.325;

  /* BUTTON COLORS */

  --btn-md-p-ver: 0.5rem;
  --btn-md-p-hor: 1.5rem;

  --btn-danger-bg: #ed1848;
  --btn-danger-border: var(--btn-danger-bg);
  --btn-danger-text: var(--text-light);
  --btn-danger-hover-bg: #8a142f;
  --btn-danger-hover-border: var(--btn-danger-hover-bg);
  --btn-danger-hover-text: var(--text-light);

  --btn-success-bg: #33cc33;
  --btn-success-border: var(--btn-success-bg);
  --btn-success-text: var(--text-light);
  --btn-success-hover-bg: #248f24;
  --btn-success-hover-border: var(--btn-success-hover-bg);
  --btn-success-hover-text: var(--text-light);

  --act-btn-add-bg: #344a4b;
  --act-btn-add-text: var(--act-btn-add-bg);
  --act-btn-add-hover-bg: rgba(52, 74, 75, 0.25);

  --act-btn-clr-bg: #993300;
  --act-btn-clr-text: var(--act-btn-clr-bg);
  --act-btn-clr-hover-bg: rgba(153, 51, 0, 0.25);
}
