.legend-btn-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  width: calc(var(--tile-dim) + 4px);
  min-height: 32px;
}

.legend-btn-wrapper button {
  position: relative;
  display: block;
  border: 0;
  background-color: var(--text-light);
  border: 2px solid var(--text-light);
  border-radius: 4px;
  margin-bottom: 0.25rem;
  cursor: pointer;
}

.styled-entity-legend-button {
  width: calc(var(--tile-dim) + 4px);
  height: calc(var(--tile-dim) + 4px);
}

.legend-btn-wrapper.selected button {
  border-color: var(--point-shadow-color);
}

.legend-btn-wrapper p {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1.25;
  font-weight: bold;
  color: var(--text-light);
}

.legend-btn-wrapper .path {
  background-color: var(--text-light);
}
